body {
  background-color: slategray;
}
p{
  color: orange;
  font-family: "Pixelify Sans", "Courier New", monospace;
}
h1{
  color: orange;
  font-family: "Pixelify Sans", "Courier New", monospace;
}
div{
  color: gray;
  border-color: orange;
  font-family: "Pixelify Sans", "Courier New", monospace;
  border-style: solid;
}
